*{
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
.row{
  height: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.column1,.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  height:100%; 
  background-size: cover;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
nav{
  display: flex;
  margin-top: 20%;
}
nav > ul{
  display: inline;
  padding: 0;
}
nav > ul > li{
  display: inline-block;
  list-style: none;
  margin: 0 5px 0 5px;
}
@media screen and (max-width: 670px) {
  .column1,.column2
  {
    width: 100%;
   height: auto;
   }
}
p{
  padding: 0.5em;;
}
a{
  text-decoration: none;
  color: white;
}
button{
  background-color: rgb(20, 181, 235);
  font-size: 18px;
  font-weight: bold;
  color: white;
  height: 50px;
  width: 150px;
  text-align:center;
  border-style:hidden;
  border-radius: 10px;
}