*{
  margin: 0%;
  box-sizing: border-box;
}
body,html{
  height: 100vh;
  width: 100;
  
}
.row{
  display: flex;
  height: 100vh;
  width: 100%;
  border: none;
  color: white;
}
.column1,.column2{
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  width: 100%;
  border: none;
  background-size: cover;
}
.column1{
  background-image: linear-gradient(to top, transparent 0%, #000000bd 70%, #000000 95%), url("https://media.istockphoto.com/id/1255905201/photo/african-computer-programmer-writing-code.jpg?s=612x612&w=0&k=20&c=7mvz30Ypq4rttwBaQ0SmwwFKjKUnt6u67ptBxVc4Wt0=");
}
.column2{
  background-image: linear-gradient(to top, transparent 0%, #000000bd 70%, #000000 95%), url("https://i.insider.com/60144316a7c0c4001991dde6?width=700&format=jpeg&auto=webp");

}
@media screen and (max-width: 1200px) {
  .row{
      display: block;
  }
  .button-group{
      display: block;
  }
} 
@media screen and (max-width:670px) {
  .row{
      display: block;
  }
  .button-group{
      display: block;
  }
}
.paragraph-container{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  padding-top: 4rem;
  position: absolute;
}
.header{
  margin-left: 1rem;
}
.column2 > p{
  font-size:x-large;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
.button-group{
  position: absolute;
  margin-top: 10rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items:center;
}
.link-group{
  padding-left: 1rem;
  align-items: center;
}
.button{
  background-color: rgb(20, 181, 235);
  font-size: 18px;
  font-weight: bold;
  color: white;
  height: 50px;
  width: 150px;
  text-align:center;
  border-style:hidden;
  border-radius: 10px;
  align-items: center;
  display:flex; 
  gap: 0.2rem;
  justify-content: center;
}
a{
  text-decoration: none;
  color: white;
}

